@model IEnumerable<Common.Models.Question>

@{
    ViewBag.Title = "QA";
}

<div class="jumbotron">
    <h1>QA</h1>
</div>

@if (Model != null)
{
<div class="row">
    <div>
        <h2>Популярні запитання і відповіді</h2>
            <table class="table">
                <tr>
     
                        <th>Запитання</th>
                        <th>Рейтинг</th>
                        <th>Кращі відповіді</th>
 
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Text</td>
                        <td>@item.Ranking</td>
                        <td>
                            @foreach (var answer in item.Answers)
                            {
                                <span>@answer.Text</span>
                                <span>@answer.Ranking</span>
                            <br>
                            }
                        </td>
                    </tr>
                }

        </table>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>
}
else
{
    <div class="jumbotron">
        <p class="lead">Для того щоб задавати запитання і отримувати відповіді потрібно зареєструватися</p>
        @Html.ActionLink("Реєстрація", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
    </div>
}